/* 
### Primary

- Green: hsl(75, 94%, 57%)  location , active color

### Neutral

- White: hsl(0, 0%, 100%) text color
- Grey: hsl(0, 0%, 20%) link button
- Dark Grey: hsl(0, 0%, 12%) card 
- Off Black: hsl(0, 0%, 8%)  background

*/
@font-face {
  font-family: "inter";
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
  font-family: "inter";
  background-color: hsl(0, 0%, 8%);
  color: white;
  p {
    font-size: 14px;
  }
}
.card {
  text-align: center;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 40px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 12%);
  .location {
    color: hsl(75, 94%, 57%);
  }
  .profile-pic img {
    border-radius: 100px;
    width: 75%;
  }
}

@media (min-width: 376px) {
  .card {
    margin-left: 37%;
    margin-right: 37%;
  }
}
